#container-messages{
    text-align: center;
}

#container-messages h2{
    margin: 20px 0px;
}
#box-messages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

#generator-messages{
    background-color: aquamarine;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: whitesmoke;
}

#generator-messages button{
    background-color: hsl(191,100%,34%);
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
}

#generator-messages button:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 200px;
}