#noPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#NoPage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

#NoPage-container p {
    margin-top: 40px;
}