.card-message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 10px;
    border: 1px solid;
    min-height: 40px;
    border-radius: 20px;
    padding: 10px;
}